node_modules
dist
.next
out
*.log
node_bin
*.ps1
supabase_schema.sql
supabase_schema_utf8.sql
fix-deps*.ps1
install*.ps1
setup.ps1
sync-db.ps1
seed-db.ps1
approve-builds.ps1
<ctrl42>*
.pnpm-store
.env.local
.env.development.local
.env.test.local
.env.production.local
